name: Check JSON content

on:
  push:
    paths:
      - "Station.json"
      - "Path.json"
      - "Train.json"
      - "TrainEquipment.json"
      - "TaskModel.json"
  pull_request:
    paths:
      - "Station.json"
      - "Path.json"
      - "Train.json"
      - "TrainEquipment.json"
      - "TaskModel.json"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: 'C1710/TrainCompany-tools'
          path: 'tools'
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install requirements
        run: python -m pip install -r tools/requirements.txt
      - name: Check contents
        run: python tools/validate_files.py --tc_directory=. --data_directory=./tools/data --limit=700
